<h1>Log in </h1>
<%= form_with(scope: :session, url: sessions_path, local:true ) do |form| %>
  <%= form.label :email %>
  <%= form.text_field :email %>

  <%= form.label :password %>
  <%= form.text_field :password %>

  <%= form.submit "Log in" %>

<% end %>