<h1>一覧表示</h1>
<table>
  <tr>
    <th>title</th>
    <th>content</th>
    <th>user</th>
    <th>detail</th>
    <th>edit</th>
    <th>delete</th>
  <% @blogs.each do |blog| %>
    </tr>
      <td><%= blog.title  %></td>
      <td><%= blog.content %></td>
      <td><%= blog.user.name%></td>
      <td><%= link_to 'dtl', blog_path(blog.id) %></td>
      <td><%= link_to 'edt',edit_blog_path(blog.id)  %></td>
      <td><%= link_to 'dlt', blog_path(blog.id),method: :delete %></td>
    </tr>
  <% end %>
</table>
<%= link_to "新規作成",new_blog_path %>